.btn {
  padding: 10px 30px;
  display: block;
  width: fit-content;
  text-align: center;
  transition: linear .2s;
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;

  &--white {
    color: #fff;
    border: 1px solid #fff;
    background-color: #000;
    &:hover{
      color: #000;
      background-color: #fff;
    }
  }
  &--white-bg{
    background-color: #fff;
    color: #000;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
  &--black {
    color: #000;
    border: 1px solid #000;
    &:hover{
      color: #fff;
      background-color: #000;
    }
  }
}