@media (min-width: 1001px) {
  .header__item-child ul {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .3s ease;
    box-shadow: -1px 5px 8px 0px rgba(34, 60, 80, 0.2);
  }

  .header__item-child:hover>ul {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    box-shadow: -1px 5px 8px 0px rgba(34, 60, 80, 0.2);
  }

  .header__list span {
    position: relative;
    cursor: pointer;

    &::before {
      position: absolute;
      left: 0;
      bottom: -3px;
      content: "";
      background-color: #fff;
      width: 0;
      height: 1px;
      transition: linear .1s;
    }

    &:hover {
      &::before {
        width: 50%;
      }
    }
  }
}

@media (max-width: 1500px) {
  .intro .slider__left {
    left: 10px;
  }

  .intro .slider__right {
    right: 10px;
  }

  .example .slick-arrow {
    display: none;
  }
}

@media (max-width: 1250px) {
  .intro .slick-arrow {
    top: 150px;
  }

  .intro .slider__left {
    left: auto;
    right: 80px;
  }

  .intro .slider__right {
    right: 15px;
  }
}

@media (max-width: 1000px) {
  .footer .arrow-up {
    display: none;
  }

  body {
    letter-spacing: 0;
    font-size: 14px;
  }

  .title {
    letter-spacing: 0;
  }

  .btn {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 22px;
  }

  .header {
    padding: 15px 0 15px 0;
    height: 80px;
  }

  .header__item-child ul {
    display: none;
  }

  .header__item-child:hover>ul {
    display: block;
  }

  .header__menu-btn {
    margin: 0 0 25px 0;
    padding: 0;
    display: block;
    width: 30px;
    height: 17px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    flex-shrink: 0;

    span {
      margin: 0 0 0 auto;
      display: block;
      width: 70%;
      height: 1px;
      background-color: #fff;
      transition: linear .2s;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transition: linear .2s;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #fff;
      transition: linear .2s;
    }
  }

  .header__menu-btn.active {
    &::after {
      transform: rotate(45deg);
      bottom: 8px;
    }

    span {
      opacity: 0;
    }

    &::before {
      transform: rotate(-45deg);
      top: 8px;
    }
  }

  .header__list {
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    z-index: 9999;
    display: flex;
    padding: 35px 10px 30px 19px;
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(100%);
    transition: transform .3s;
    overflow: auto;
  }

  .header__list.active {
    transform: translateX(0);
  }

  .header__item-child:hover>ul {
    display: none;
  }

  .header__item-child ul.sub-menu--active,
  .header__item-child ul.sub-menu--active {
    display: block;
    position: initial;
  }

  .header__list span {
    display: block;
    width: 100%;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: auto;
      right: 10px;
      top: 10px;
      background-color: #fff;
      width: 12px;
      height: 1px;
      transition: linear .1s;
    }

    &::before {
      transform: rotate(90deg);
    }
  }

  .header__list span.active {
    &::before {
      opacity: 0;
    }
  }


  .header__item-child ul {
    background-color: #000;
  }

  .header__item-child ul li {
    color: #fff;
  }

  .header__item-child ul a::before,
  .header__item-child ul span::before {
    background-color: #fff;
  }

  .header li.header__modal-cal {
    margin: 60px 0 105px 0;

    a {
      font-size: 10px;
    }
  }

  .header__social {
    display: block;

    .social {
      li {
        max-width: 5px;
      }

      li+li {
        margin: 0 0 0 25px;
      }
    }
  }

  .header__list li {
    max-width: 320px;
    width: 100%;
  }

  .header__list li+li {
    margin: 13px 0 0 0;
  }

  .header__item-child ul {
    padding: 10px 15px 10px 15px;
  }

  .intro__left h1 {
    font-size: 28px;
  }

  .intro__left {
    margin: 0 0 15px 0;
  }

  .intro__btn {
    margin: 0 0 88px 0;
    padding: 8px 20px;
    font-size: 12px;
  }

  .intro__right p {
    font-size: 16px;
    letter-spacing: 0;
  }

  .service__img {
    margin: 0 20px 20px 0;
    max-width: 280px;
    width: 100%;
    height: 307px;
  }

  .service__buttons {
    width: calc(100% + 15px);
    margin-right: -15px;
  }

  .service .title {
    margin: 0 0 20px 0;
    font-size: 24px;
  }

  .service__btn {
    font-size: 16px;
  }

  .service .service__btn+.service__btn {
    margin: 0 0 0 20px;
  }

  .service__text h4 {
    margin: 0 0 18px 0;
    font-size: 22px;
  }

  .service__text p {
    margin: 0;
    font-size: 14px;
    line-height: 140%;
  }

  .service__text .btn {
    margin: 35px 0 0 0;
  }

  .preference__top {
    margin: 0 0 50px 0;
    flex-direction: column;
  }

  .preference__top p {
    margin: 0;
    font-size: 12px;
    line-height: 140%;
  }

  .preference h2 {
    margin: 0 0 15px 0;
    font-size: 24px;
  }

  .preference .btn {
    position: absolute;
    right: auto;
    left: 15px;
    top: auto;
    bottom: -80px;
  }

  .service {
    padding: 100px 0 50px;
  }

  .about__text {
    max-width: 100%;
    margin: 0 40px 0 0;
  }

  .about__img {
    max-width: 320px;
    height: 350px;
    flex-shrink: 0;
  }

  .about__text h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
  }

  .reviews .title {
    margin: 0 0 15px 0;
    max-width: 350px;
    font-size: 24px;
  }

  .reviews p {
    max-width: 100%;
    font-size: 12px;
    margin: 0 0 10px 0;
  }

  .reviews__avatar {
    margin: 0 15px 0 0;
    width: 85px;
    height: 110px;
  }

  .reviews__top span {
    font-size: 20px;
  }

  .reviews__inner {
    position: relative;
  }

  .reviews__date {
    position: absolute;
    left: 0;
    top: 110px;
  }

  .reviews__item a {
    font-size: 12px;
  }

  .blog__item {
    margin: 0 0 40px 30px;
    width: calc(50% - 30px);
  }

  .blog h2 {
    margin: 0 0 15px 0;
    font-size: 24px;
  }

  .blog__top p {
    font-size: 12px;
    max-width: 500px;
  }

  .blog__item h4 {
    font-size: 16px;
    margin: 0 0 15px 0;
  }

  .blog__item p {
    margin: 0 0 10px 0;
  }

  .blog__item a {
    font-size: 12px;
  }

  .team__item {
    height: 300px;
  }

  .team__list li {
    height: 250px;
  }

  .team h2 {
    font-size: 24px;
  }

  .team__inner p {
    font-size: 12px;
    max-width: 100%;
  }

  .team__info {
    padding: 5px 15px 5px 5px;
  }

  .team__name {
    font-size: 14px;
  }

  .documentation__text h2 {
    font-size: 24px;
  }

  .documentation-slider__top {
    margin: 0 30px 0 0;
  }

  .documentation-slider__bottom {
    max-width: 630px;
    width: 100%;
    height: 380px;
  }

  .documentation__item {
    width: 250px;
    height: 380px;
  }

  .footer__top h3 {
    font-size: 22px;
  }

  .footer__top p {
    font-size: 12px;
  }

  .footer__mid ul:not(.social) {
    column-gap: 40px;
  }

  .footer__form .btn {
    padding: 6px 16px;
  }

  .footer__mid ul:not(.social) li {
    font-size: 12px;
  }

  .blog--news .title {
    margin: 0 0 20px 0;
    font-size: 26px;
  }

  .contacts h2 {
    margin: 0 0 30px 0;
    font-size: 26px;
    text-transform: inherit;
  }

  .contacts__left-inner {
    flex-direction: column;
  }

  .contacts__text {
    margin: 0 0 18px 0;
    max-width: 100%;
  }

  .contacts__right {
    padding: 40px 15px 40px 15px;
  }

  .accordeon dt {
    padding: 20px 50px 20px 18px;
    font-size: 20px;
    width: calc(100% + 30px);
    margin-left: -15px;
  }

  .accordeon {
    padding: 47px 0 35px;
  }

  .accordeon dt::after,
  .accordeon dt::before {
    right: 11px;
  }

  .accordeon dd {
    padding: 15px 10px 30px 0px;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 1px;
  }

  .question h5 {
    font-size: 22px;
  }

  .question p {
    font-size: 12px;
  }

  .portfolio .title {
    font-size: 24px;
  }

  .card-info h2 {
    margin: 0 0 30px 0;
    font-size: 26px;
    text-transform: inherit;
  }

  .card-info__left h4 {
    font-size: 22px;
  }

  .card-info__left {
    max-width: 450px;
    margin: 0 20px 0 0;
  }

  .card-info__img {
    flex-shrink: 0;
    max-width: 290px;
    height: 307px;
  }

  .benefit h4 {
    font-size: 22px;
  }

  .benefit p {
    font-size: 12px;
  }

  .list-decimal li {
    font-size: 12px;
  }

  .works-slider__item h4 {
    max-width: 320px;
    font-size: 22px;
  }

  .works-slider__item h5 {
    max-width: 320px;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
  }

  .works-slider__top {
    max-width: 340px;
  }

  .works-slider__item p {
    max-width: 340px;
  }

  .example__inner h4 {
    font-size: 22px;
  }

  .cost__box h4 {
    font-size: 22px;
  }

  .cost__box {
    margin: 0 25px 0 0;
  }

  .cost__box p {
    font-size: 12px;
  }

  .cost .list-decimal~p {
    font-size: 12px;
    margin: 0;
  }

  .time h4 {
    font-size: 22px;
  }

  .time p {
    font-size: 12px;
  }

  .modal--two {
    padding: 20px;
  }

  .modal__left {
    max-width: 60%;
  }

  .modal__img {
    max-width: 400%;
  }

  .modal h3 {
    font-weight: 400;
    font-size: 22px;
  }

  .modal__text p {
    margin: 0 0 10px 0;
    font-size: 12px;
  }

  .documentation__box {
    max-height: 105px;
  }
}

@media (max-width: 700px) {
  .works-slider__item p {
    font-weight: 300;
    font-size: 12px;
  }

  .preference {
    padding: 50px 0 128px;
  }

  .about {
    padding: 53px 0 50px;
  }

  .reviews {
    padding: 50px 0 100px;
  }

  .blog {
    padding: 50px 0 60px;
  }

  .intro__item {
    padding: 165px 0 0 0;
  }

  .intro__item-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .intro__info-wrapper {
    display: none;
  }

  .intro__item-box:first-child {
    margin: 0 0 38px 0;
  }

  .intro .slick-arrow {
    top: auto;
    bottom: 0;
  }

  .service__item {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0 0 0;
  }

  .preference__list li {
    margin: 0 0 30px 35px;
    width: calc(50% - 35px);

    p {
      max-width: 170px;
    }
  }

  .preference__list-img {
    width: 40px;
    padding: 0 0 8px 0;
    margin: 0 0 18px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .about__inner {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
  }

  .about__text h2 {
    margin: 0 0 335px 0;
  }

  .about__img {
    width: 290px;
    height: 305px;
    position: absolute;
    top: 45px;
    left: 0;
  }

  .about__text {
    margin: 0;
  }

  .about__text p {
    margin: 0;
  }

  .about__text .btn {
    margin: 30px 0 0 0;
  }

  .reviews .slick-arrow {
    top: auto;
    bottom: -75px;
    right: auto;
  }

  .reviews .slider__left {
    left: 0;
  }

  .reviews .slider__right {
    left: 60px;
  }

  .reviews-slider {
    margin: 30px 0 0 0;
  }

  .reviews__top {
    margin: 0 0 15px 0;
  }

  .reviews p {
    -ms-line-clamp: 6;
    -webkit-line-clamp: 6;
    line-clamp: 6;
  }

  .blog.blog--news {
    padding: 0 0 30px 0;
  }

  .blog .btn {
    top: auto;
    bottom: -40px;
    right: auto;
    left: 15px;
  }

  .blog__top {
    margin: 0 0 15px 0;
  }

  .blog__img {
    height: 215px;
  }

  .team__marge {
    font-size: 10px;
  }

  .team__inner {
    flex-direction: column;
  }

  .team__box {
    margin: 0 0 15px 0;
  }

  .team__list li {
    width: calc(50% - 25px);
  }

  .team {
    padding: 79px 0 35px;
  }

  .documentation__text span {
    font-size: 18px;
  }

  .documentation__text p {
    margin: 0 0 0 0;
    font-size: 12px;
  }

  .documentation__inner {
    flex-direction: column;
    position: relative;
    align-items: center;
  }

  .documentation-slider__bottom {
    max-width: 300px;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
  }

  .documentation__item img {
    width: 100%;
    height: 100%;
  }

  .documentation__item {
    width: 290px;
    margin: 0 10px 0 0;
  }

  .documentation {
    padding: 50px 0 63px;
  }

  .documentation__text h2 {
    margin: 0 0 410px 0;
  }

  .documentation__text span {
    max-width: 250px;
  }

  .documentation__text p {
    max-width: 280px;
  }

  .documentation-slider__top {
    max-width: 280px;
  }

  .documentation__text a {
    font-size: 12px;
    bottom: 13px;
    margin: 0;
  }

  .documentation-slider__top .slick-arrow {
    bottom: 5px;
  }

  .footer__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer {
    padding: 50px 0 0;
  }

  .footer__box {
    margin: 0 0 20px 0;
    max-width: 100%;
  }

  .footer__mid ul:not(.social) {
    column-count: 2;
  }

  .modal {
    padding: 20px;
  }

  .modal h6 {
    margin: 0 0 30px 0;
    font-weight: 400;
    font-size: 22px;
  }

  .article__img {
    margin: 30px 0 15px 0;
    height: 250px;
  }

  .article__inner span {
    margin: 0 0 15px 0;
  }

  .article__inner h4 {
    margin: 0 0 10px 0;
    font-size: 24px;
  }

  .article__inner img {
    margin: 10px 0 10px;
  }

  .article__inner h5 {
    font-size: 20px;
  }

  .contacts__inner {
    padding: 0 0 300px 0;
    position: relative;
    flex-direction: column;
  }

  .contacts__map-wrap {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
  }

  .contacts__map {
    height: 200px;
  }

  .breadcrumbs--black {
    margin: 24px 0 3px;
  }

  .contacts__left-inner h6 {
    margin: 0px 0 10px 0;
    font-size: 18px;
  }

  .contacts__left-inner p {
    font-size: 12px;
    line-height: 140%;
  }

  .form__input-wrap {
    width: 100%;
    margin: 0 0 8px 0;
  }

  .contacts__right {
    max-width: 700px;
    width: calc(100% + 30px);
    margin: 0 0 0 -15px;
  }

  .contacts__box {
    padding: 0 0 0 30px;
  }

  .contacts__phone li {
    margin: 0 0 3px 0;
    font-size: 12px;
  }

  .contacts__mail,
  .contacts__map-mark {
    font-size: 12px;
  }

  .contacts__phone {
    margin: 0 0 9px 0;
  }

  .contacts__mail {
    margin: 0 0 6px 0;
  }

  .contacts__map-mark {
    margin: 0 0 29px 0;
  }

  .contacts__box h6 {
    margin: 0 0 12px 0;
    font-size: 20px;
  }

  .contacts__timetable span {
    font-size: 12px;
  }

  .contacts__timetable strong {
    font-size: 12px;
  }

  .contacts__timetable li {
    margin: 0 0 3px 0;
  }

  .contacts__timetable {
    margin: 0 0 25px 0;
  }

  .question__img {
    display: none;
  }

  .question {
    padding: 33px 0 28px;
    border-bottom: 5px solid #fff;
  }

  .portfolio__list li {
    width: calc(50% - 20px);
  }

  .card-info__inner {
    flex-direction: column-reverse;
  }

  .card-info__left {
    max-width: 100%;
    margin: 0 0 0 0;
  }

  .card-info__img {
    margin: 0 0 22px 0;
  }

  .card-info__left blockquote {
    margin: 0 0 10px 0;
    padding: 14px 9px 13px 45px;
    font-size: 14px;
  }

  .card-info__left h4 {
    margin: 0 0 10px 0;
  }

  .card-info__left blockquote::before {
    top: 11px;
    left: 17px;
    width: 22px;
    height: 25px;
  }

  .card-info__text p {
    font-size: 12px;
  }

  .card-info__read-more {
    margin: -20px 0 0 auto;
    font-size: 12px;
  }

  .card-info {
    padding: 0 0 43px 0;

    .btn {
      padding: 8px 30px;
    }
  }

  .list-decimal li {
    width: calc(50% - 60px) !important;
  }

  .benefit {
    padding: 30px 0 0;
  }

  .works-slider {
    position: relative;
  }

  .works-slider__item h4 {
    height: 92px;
    margin: 0 0 340px 0;
  }

  .works-slider__bottom {
    position: absolute;
    top: 110px;
    left: 0;
    max-width: 290px;
    height: 307px;
    margin: 0;
  }

  .works-slider__img {
    height: 307px;
    max-width: 290px;
    width: 100%;
  }

  .works {
    padding: 43px 0 60px;
  }

  .example .container {
    position: relative;
  }

  .example .btn {
    padding: 8px 30px;
    bottom: -50px;
    left: 15px;
    position: absolute;
  }

  .example__info {
    max-width: 205px;
  }

  .example__info h6 {
    font-weight: 400;
    font-size: 14px;
  }

  .example__info p {
    font-weight: 400;
    font-size: 10px;
  }

  .example {
    padding: 31px 0 76px;
  }

  .example__box {
    margin: 0 0 10px 0;
  }

  .example__inner {
    margin: 0;
  }

  .example__inner p {
    font-size: 8px;
  }

  .cost .container {
    position: relative;

    .btn {
      position: absolute;
      left: 15px;
      bottom: -70px;
    }
  }

  .cost {
    padding: 50px 0 60px;
  }

  .cost__inner {
    margin: 0 0 45px 0;
  }

  .cost__answer {
    margin: 120px 0 10px 0;
    padding: 14px 9px 13px 45px;
    font-size: 14px;

    &::before {
      top: 11px;
      left: 17px;
      width: 22px;
      height: 25px;
    }
  }

  .time {
    padding: 50px 0 45px;
    background-color: #EFEFEF;
  }

  .service__img-swipe {
    display: block;
    width: 30px;
    height: 30px;
    margin: -25px 35px 25px auto;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;

    @keyframes bounce {
      0% {
        transform: translateX(0);
      }

      50% {
        transform: translateX(-20px);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  .documentation__box {
    max-height: 185px;
  }

  .modal__content {
    flex-direction: column;
  }

  .modal__left {
    max-width: 100%;
    margin: 0 0 25px 0;
  }

  .modal__img {
    max-width: 300px;
    height: 200px;

    img {
      height: 100%;
    }
  }

  .modal__text {
    max-height: 170px;
  }

  .documentation__text {
    padding: 0 0 80px 0;
    height: 100%;
  }
}

@media (max-width: 468px) {
  .service__img-swipe {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 25px 25px auto;
  }

  .card-info__text {
    max-height: 199px;
  }

  .team__item {
    height: 150px;

    .team__info {
      max-width: 175px;
    }
  }

  .team__list li {
    margin: 0 0 15px 25px;
    width: calc(100% - 25px);
    height: 315px;
  }

  .documentation__inner {
    align-items: flex-start;
  }

  .documentation-slider__bottom {
    left: 0;
    transform: translateX(0);
  }

  .footer__mid {
    margin: 50px 0 45px;
    flex-direction: column;
  }

  .footer__mid ul:not(.social) {
    column-count: 3;
    column-gap: 5px;
    width: 100%;
    margin: 0 0 0 0;
  }

  .footer__logo {
    margin: 0 0 23px 0;
  }

  .footer__mid ul:not(.social) li {
    font-size: 11px;
  }

  .footer__social {
    margin: 15px 0 -3px;

    span {
      font-size: 12px;
      letter-spacing: 1px;
    }
  }

  .footer__bottom {
    font-size: 8px;
  }

  .blog__item {
    width: calc(100% - 30px);
  }

  .portfolio__list li {
    width: calc(100% - 20px);
  }

  .portfolio__info h6 {
    font-size: 14px;
    font-weight: 400;
  }

  .portfolio__info p {
    font-size: 10px;
  }

  .list-decimal ul {
    margin: 0 0 0 -67px;
  }

  .list-decimal li {
    width: calc(100% - 67px) !important;
  }

  .list-decimal li {
    margin: 0 0 43px 67px;
  }

  .example__item {
    height: 204px;
  }

  .example-slider {
    margin-left: -10px;
  }
}